// variables import
@import "./../variables/color";

.navbar{
    background-color: $primary;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    top: 0;
    position: fixed;
    border-bottom: 5px solid $secondary;
}

.navbar__logo{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.navbar__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;

    // selecting last link to move 100px from right side
    &:last-child{
        padding-right: 100px;
    }
}

.navbar__li {
    font-size: 16px;
    display: inline;
    padding-right: 35px;
}


.navbar__a{
    text-decoration: none;
    color: #fefefe;
}

.navbar__a:hover{
    color: $blue;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
}

.navbar__a--active{
    color: $blue;
    text-decoration: none;
}

.navbar__a--active:hover{
    color: $blue;
    text-decoration: none;
    cursor: pointer;
}


