.skills__container{
    margin-top: 80px;
    text-align: center;
}

.skills__h1{
    text-align: center;
    color: $small-title;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 80px;
}

.skills__image{
    margin-top: 70px;
    max-height: 282px;
    max-width: 282px;
}

.skills__text{
    font-size: 16px;
    color: $primary;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills__block{
    border: 1px solid $blue;
    background-color: $primary;
    color: #efefef;
    height: 400px;
}

.skills__nav{
    text-align: left;
    list-style: none;
    text-decoration: none;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.skills__nav{
    display: inline-block;
    padding: 0;
    list-style: none;
}

  
.skills__li{
    display: inline-flex;
}

    
.skills__a{
      text-decoration: none;
      color: $white;
      font-weight: 200;
      padding: 10px;
      &:hover{
          text-decoration: none;
          color: $white;
          border-bottom: 1px solid $small-title;
      }
    }



.skills__nav .active .skills__a { 
  color: $blue; 
  border-bottom: 1px solid $blue;
}

.skills__tab-content{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

.skills__tab-pane { 
  display: none;
  margin-top: 50px;
  text-align: left;
  padding-left: 20px;
}

.skills__tab-pane.active { 
  display: block; 
}

.skills__content--list{
    margin-top: 40px;
    list-style: none;
}

.skills__comment{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

}



// Media querys
@include mobile{
    .skills__text{
        width: 100%;
    }

    .skills__image{
        height: 150px;
    }

    .skills__block{
        border: 1px solid $blue;
        background-color: $primary2;
        color: #efefef;
        height: 400px;
    }
}

@include tablet{
    .skills__text{
        width: 100%;
    }
    .skills__image{
        height: 200px;
    }
}


// smoothscroll helper
.scroll__helper{
    height: 50px;
}