//bootstrap
@import "~bootstrap/scss/bootstrap";

//partials
@import "./partials/nav";
@import "./partials/header";
@import "./partials/skills";
@import "./partials/about";
@import "./partials/contact";
@import "./partials/footer";


// body styles
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
